# Ignore everything
*

# But not these files...
!.gitignore
!.nbactions.xml
!pom.xml
!src\main\java\com\mycompany\saskenergyapp\SaskEnergyApp.java
!src\main\java\com\mycompany\saskenergyapp\User.java
!src\main\java\com\mycompany\saskenergyapp\UserDatabaseApp.java



